  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: white;
    margin: 0;
}

.movie {
  width: 230px;
  margin: 1rem;
  background-color: gray;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.movie img {
  max-width : 100%
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
}

.movie-info{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.movie-info h1 {
  margin: 0;
}

